# Location of SSL cert/key. For local dev, run `bash scripts/make-dev-ssl-cert.sh` to create a self-
# signed cert.
DOCKER_SSL_CERTS_DIR=./.local/certs
DOCKER_SSL_PRIVATE_DIR=./.local/private

VITE_BASE_STATIC_URL=https://ares-iss-in-real-time.s3.us-gov-west-1.amazonaws.com
VITE_IMAGE_BASE_URL=https://eol.jsc.nasa.gov/DatabaseImages

# Data processing paths
SG_RAW_FOLDER="F:/ISSiRT_assets/_raw/"
S3_FOLDER="F:/ISSiRT_assets/iss_irt_s3/"
IA_ZIP_WAVS_WORKING_FOLDER="F:/ISSiRT_assets/_raw/InternetArchive_space_to_grounds"

# SECRETS
NASA_EOL_API_KEY=
SPACETRACK_USERNAME=
SPACETRACK_PASSWORD=
YOUTUBE_API_KEY=