.expedition {
  flex: 1;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(2px);
}

.expedition.expeditionCycling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100% - 25px);
  margin-left: 25px;
  margin-bottom: 0;
  opacity: 0; /* Start with opacity 0 to avoid flash of unstyled content */
}

.expeditionsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.expedition.expeditionPlaceholder {
  visibility: hidden;
  margin-left: 25px;
  margin-bottom: 0;
}

.expeditionSideText {
  flex: 0 0 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: visible;
  position: relative;
  height: 100%;
  color: var(--highlight);
  font-size: 0.8em;
  text-transform: uppercase;
}

.expeditionSideTextInner {
  white-space: nowrap;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}

.expeditionPatchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.patchImg {
  flex: 0 0 70px;
  width: 70px;
  align-self: center;
  padding: 0 10px 0 0;
}

.expeditionTitle {
  font-size: 1em;
  font-weight: 500;
  color: var(--highlight);
}

.expeditionContent {
  display: flex;
  flex-direction: column;
}

.expeditionBlurb {
  font-size: 0.9em;
  font-weight: 300;
  color: white;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  line-clamp: 9;
  /* stylelint-disable-next-line property-no-deprecated */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expeditionDates {
  font-family: var(--font-mono);
  font-size: 0.8em;
  color: var(--grey3);
  overflow-wrap: break-word;
}
