body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

p {
  margin: 5px;
  padding: 0;
}

.cesium-viewer-bottom {
  display: none !important;
}

:root {
  --font-mono: "Roboto Mono", monospace;
  --font-sans: "Roboto", sans-serif;
  --radius: 4px;
}

code,
pre,
.mono {
  font-family: var(--font-mono);
}
