.toggleCalendarButton {
  position: absolute;
  bottom: -21px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: var(--grey2);
  border: 1px solid var(--highlight);
  filter: drop-shadow(0 1px 0 var(--grey3));
  border-radius: 0 0 15px 15px;
  padding: 4px 10px;
  font-size: 0.8rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 5;
  transition: all 0.2s ease;
}

.toggleCalendarButton:hover {
  background-color: var(--grey3);
}
