.yearsContainer {
  position: relative;
  height: 18px;
  overflow: visible;
  background-color: var(--grey2);
  cursor: pointer;
  user-select: none;
}

.yearLabel {
  position: absolute;
  top: 1px;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
  min-width: 40px;
  text-align: left;
  pointer-events: none; /* Year labels are not interactive individually */
  /* transform: rotate(-30deg); */
}

.hoveredDateLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red;
  pointer-events: none;
  z-index: 10;
}

.selectedDateLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red;
  pointer-events: none;
  z-index: 11;
}
