.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: repeating-linear-gradient(
    45deg,
    var(--grey1) 0,
    var(--grey1) 5px,
    var(--grey2) 5px,
    var(--grey2) 10px
  );
  position: relative;
}
