.expedition {
  flex: 1;
  backdrop-filter: blur(2px);
}

.expeditionBody {
  overflow: auto; /* Create a new block formatting context to contain the float */
  margin-left: 10px;
}

.expedition.expeditionCycling {
  position: absolute;
  top: 0;
  left: 15px;
  right: 0;
  width: calc(100% - 15px);
  margin-bottom: 0;
  opacity: 0; /* Start with opacity 0 to avoid flash of unstyled content */
}

.expeditionsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
}

.expedition.expeditionPlaceholder {
  visibility: hidden;
  margin-bottom: 0;
}

.expeditionSideText {
  flex: 0 0 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  z-index: 10;
  color: var(--highlight);
  font-weight: 600;
  font-size: 0.7em;
  text-transform: uppercase;
}

.expeditionSideTextInner {
  white-space: nowrap;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}

.patchImg {
  width: 70px;
  float: left;
  padding: 0 10px 5px 0;
}

.expeditionTitle {
  font-size: 1em;
  font-weight: 500;
  color: var(--highlight);
  margin-left: 10px;
  margin-bottom: 5px;
}

.expeditionBlurb {
  font-size: 0.8em;
  font-weight: 300;
  color: white;
  overflow-wrap: break-word;
}
