.container {
  margin: 0 auto;
  padding: 10px;
  width: 330px;
}

.searchBox {
  margin-bottom: 4px;
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 2px;
  font-size: 0.9rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.clearButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666666;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.listContainer {
  height: 160px;
  overflow-y: auto;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-size: 0.9rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listItem {
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  user-select: none;
}

.listItem:last-child {
  border-bottom: none;
}

.listItem:hover {
  background-color: #f9f9f9;
}

.listItem.selected {
  background-color: #f6ff71;
  font-weight: 500;
}

.noResults {
  padding: 20px;
  text-align: center;
  color: #666666;
}
