h2 {
  font-size: 1.2rem;
  margin: 0;
}

.dataLists {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 200px;
}

.dataItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}
