.header {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  margin: 0 0 0 10px;
  flex-shrink: 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.titleContainer .logo {
  width: 30px;
  height: 30px;
  align-self: center;
}

.titleContainer .title {
  font-size: 1.7rem;
  font-family: Exo, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--highlight);
  align-self: center;
}

.titleContainer .blurb {
  font-size: 0.7rem;
  font-family: Inter, sans-serif;
  font-weight: 300;
  align-self: center;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateTimeContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: "Roboto Mono", sans-serif;
  margin: 0 10px 0 0;
}

.right {
  display: flex;
  flex-shrink: 0;
}
