.header {
  flex: 0;
  background-color: rgb(230 230 230);
  display: flex;
  border-bottom: 1px solid #cccccc;
}

.left {
  display: flex;
  margin: 0 0 0 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  margin-right: 20px;
  align-self: center;
}

.right {
  display: flex;
  margin-left: auto;
}

.dateTime {
  font-family: "Courier New", Courier, monospace;
  margin: 0 10px 0 0;
}
