.crewOnboard {
  flex: 0 1 220px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1em;
  overflow-y: auto;
  gap: 10px;
}

.crewName {
  font-size: 1em;
  font-weight: 600;
}

.flag {
  width: 25px;
  margin-right: 5px;
}
