.imagesContainer {
  flex: 0 0 230px;
  background-color: #b8b8b8;
  height: 100%;
  overflow-y: auto;
}

.imageItem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 161px;
}

.imageItem img {
  height: 140px;
}

.dateTaken {
  cursor: pointer;
  margin-bottom: 5px;
}
