.expeditions {
  overflow-y: auto;
  padding: 1em;
}

.expedition {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.expeditionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.patchImg {
  flex: 0 0 70px;
  width: 70px;
  align-self: center;
  padding: 0 10px 0 0;
}

.expeditionTitle {
  font-size: 1.2em;
  font-weight: 600;
}

.expeditionContent {
  display: flex;
  flex-direction: column;
}

.expeditionBlurb {
  display: -webkit-box;
  /* line-clamp: 3;
  -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 4px;
}

.expeditionDates {
  font-size: 0.9em;
  color: #1d1d1d;
}

/* .expedition:hover .expeditionBlurb {
  display: block;
  line-clamp: unset;
  -webkit-line-clamp: unset;
  overflow: visible;
} */
