.flightsContainer {
  flex: 0 1 300px;
  padding: 1em;
  overflow-y: auto;
}

.flight {
  border-radius: 4px;
  margin-bottom: 20px;
}

.flightImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.missionHeader {
  display: flex;
  align-items: center;
  gap: 1em;
}

.missionPatch {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.missionInfo h3 {
  margin: 0;
}

.missionInfo div {
  margin: 0.25em 0;
}

.labelText {
  display: inline-block;
  text-align: right;
  margin-right: 0.5em;
  font-weight: 600;
}

.crewList {
  margin: 1em 0;
}

.crewMember {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0;
}

.flag {
  width: 25px;
  height: auto;
}

.timeInfo {
  font-style: italic;
}
