.evaDetails {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  backdrop-filter: blur(2px);
  font-family: Inter, sans-serif;
  background-color: var(--grey2);
  border: 1px solid var(--grey3);
  border-radius: var(--panel-radius);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.scrollableContent {
  flex: 1;
  padding: 7px;
  margin: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.evaTitle {
  font-weight: 500;
  font-size: 1.1em;
  color: var(--highlight);
  margin-bottom: 12px;
}

.evaCrew,
.evaGroundCrew {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.evaCrew strong,
.evaGroundCrew strong {
  font-weight: 600;
}

.crewMember {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  color: var(--highlight);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.3;
}

.flag {
  width: 20px;
  height: auto;
}

.evaDescription {
  margin: 10px 0;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.4;
}

.evaDescription p {
  margin: 8px 0;
}

.evaDescription a {
  color: rgb(201 211 255);
  text-decoration: underline;
}

.blurbShort a {
  color: rgb(201 211 255);
}

.blurbShort a:hover {
  text-decoration: underline;
}

.evaDescription a:hover {
  text-decoration: underline;
}

.evaTimes {
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.3;
  border-top: 1px solid var(--grey3);
  padding-top: 8px;
  margin-top: 10px;
  color: var(--grey5);
}

.evaTimes div {
  margin-bottom: 4px;
}

.evaDetail {
  margin-bottom: 1px;
}

.evaShortContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  max-height: 120px;
}

.evaShortHeader {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.evaShortTitle {
  flex: 1;
  font-weight: 500;
  color: var(--highlight);
  white-space: nowrap;
}

.evaShortCrew {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 8px;
}

.crewMemberShort {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--highlight);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.3;
  white-space: nowrap;
}

.flagShort {
  width: 20px;
  height: auto;
}

.blurbShort {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.2;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  max-height: 67px;
}
