h2 {
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  width: 100%;
}

.dataLists {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 200px;
  overflow: hidden;
}

.dataItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  padding: 0 5px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.9rem;
  border-right: 1px solid #cccccc;
}

.contentHeading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.contentColumns {
  width: 100%;
  height: 170px; /* Leaving space for the heading */
  column-count: 2;
  column-gap: 5px;
  overflow-y: auto;
}

.vehicleCategory {
  break-inside: avoid;
  margin-bottom: 10px;
}

.subheading {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 0 3px 0;
}

.checkboxContainer {
  width: 100%;
  height: 170px; /* Leaving space for the heading and subtitle */
  overflow-y: auto;
}

.checkboxLabel {
  display: block;
  margin-bottom: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}

.checkboxLabel input[type="checkbox"] {
  margin-right: 6px;
}

.hoverSearchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
