.yearOverlay {
  position: absolute;
  z-index: 50;
  pointer-events: auto;
  background: var(--grey1);
  cursor: default;
  overflow: visible;
  box-shadow: 0 12px 32px 8px rgb(0 0 0 / 60%);
}

.yearOverlay canvas {
  width: 100%;
  height: auto;
  display: block;
}
