.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  min-height: 35px;
  background-color: var(--grey2);
  font-size: 0.8em;
}

.checkboxContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin: 0 0 0 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  white-space: nowrap;
}

.checkboxLabel input[type="checkbox"] {
  margin-right: 4px;
}
